phenotype_definition:
  # Human-readable name for the target phenotype. This name will be
  # utilized in logging, naming of output files, and in generated plots.
  target_name: "Ischemic Stroke"

  # A list of OMOP (Observational Medical Outcomes Partnership) concept IDs.
  # These IDs collectively define the individuals considered as cases for the phenotype.
  concept_ids:
    - 432510
    - 374919
